.posts {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 200px;
  overflow-x: hidden;
}

.posts-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 4rem;
  color: var(--special-color);
  font-weight: 700;
  margin-bottom: 50px;
}

.title-item {
  font-family: 'Inter', sans-serif;
}

.title-course {
  color: var(--main-color);
}

.vector-title {
  width: 200px;
}

.course-title {
  width: auto;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, var(--main-color), #aeaeae);
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: #fdfdfd;
  margin-bottom: 50px;
}

.course-description {
  width: 60%;
  font-size: 1.8rem;
  /* margin: 0px 300px; */
  line-height: 30px;
  text-align: center;
}

.course-part {
  display: flex;
  width: 70%;
  height: auto;
  border: 2px solid var(--special-color);
  background-color: #fdfdfd;
  border-radius: 15px;
  padding: 10px;
  margin: 30px 0px;
}

.part-img {
  width: 40%;
  border-radius: 10px;
  border: 1px solid #aeaeae;
}

.part-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 10px 20px;
}

.part-description {
  margin: 10px 25px;
  text-align: justify;
  line-height: 20px;
  /* text-align: center; */
}

.part-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 45px;
  background-color: var(--special-color);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 10px;
}

.course-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  background-color: #fdfdfd;
  color: var(--main-color);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 40px 0px;
}

.home-decoration {
  position: absolute;
  right: -550px;
  top: 900px;
  z-index: 998;
}
